*,
*:before,
*:after {
   box-sizing: border-box;
}
* {
   margin: 0;
   padding: 0;
}
img,
picture,
svg,
video {
   display: block;
   max-width: 100%;
}
input,
select,
textarea {
   background-color: transparent;
   outline: none;
}
button {
   cursor: pointer;
   background-color: transparent;
   outline: none;
   border: 0;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   font-weight: 400;
   font-size: 16px;
   line-height: 1;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rangButtom {
   width: 500px;
   border-radius: 25px;
   background-color: #fff;
   height: 50px;
   overflow: hidden;
   border: 1px solid #bdc3c7;
}
.container h1 {
   text-align: center;
   color: yellowgreen;
   margin: 40px;
}
.rangButtom span {
   display: flex;
   justify-content: center;
   align-items: center;
   width: inherit;
   height: inherit;
   background: rgb(195, 54, 255);
   background: linear-gradient(
      49deg,
      rgba(195, 54, 255, 1) 30%,
      rgba(161, 28, 194, 1) 51%,
      rgba(204, 0, 138, 1) 73%
   );
   cursor: e-resize;
   color: white;
   font-size: 25px;
   font-weight: bold;
}
